.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid red;
  padding-top: 5px;
  padding-left: 5px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.grid {
  width: 40px;
  height: 40px;
  background: red;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
